<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>About</title>
</head>
<body id="about-body">
    

    <div>
        <h1>Why just Race it?</h1>
    <p>Since I had to choose a type of game I went for something that I find interesting 
        and love playing <b>- Platformers.</b>
        Another important part of games, for me, is playing with friends <b>- Multiplayer.</b>
        Inspiration that you'll probably won't be able to recognize- 
        <a id="text-link" href="https://www.tinybuild.com/speedrunners" target="_blank">Speed Runners</a>, 
        <a id="text-link" href="https://www.orithegame.com/" target="_blank">Ori</a>, 
        <a id="text-link" href="https://terraria.org/" target="_blank">Terraria</a>
    </p>
    </div>

    <div>
        <h2>Process</h2>
    <ul>
        <li>Feature planning</li>
        <li>Map prototyping</li>
        <li>Feature development - Collisions, jumping, gravity, controls and winning game 
            conditions</li>
        <li>Testing - Dev testing and Hallway testing</li>
        <li>Polishing - Features, aesthetics and map</li>
    </ul>
    </div>
        
    <div>
        <h2>Pain points</h2>
    <ul>
        <li>Getting collisions right</li>
        <li>Fixing jump logic</li>
        <li>Collisions</li>
        <li>Fixing player controls interfering</li>
        <li>Coll...</li>
    </ul>
    </div>
    
    
    <a id="home-link" href="/home">Home</a>
</body>
</html>