<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>works</title>
</head>
<body id="works-body">

    <div>
    <img id="work-img" src="/images/how start.jpg" alt="">
    </div>
    
    <div>
        <a id ="game-link" href="https://justlost.github.io/justRaceIt/" target="_blank"><img src="/images/lets.png" alt=""></a>
    </div>
    
    <div>
        <a href="/home">Home</a>
    </div>
    
</body>
</html>